/* #element { margin: 0; padding: 0; font-size: 100%; line-height: 1; } */

.projects {
    display: flex;
    margin: 1em;
    padding: 2em 0;
    border-top: solid .8px;
    justify-content: space-around;
    align-items: flex-start;
}

.project-pic:hover {
    cursor: pointer;
    opacity: .5;
    border-radius: 100%;
    transition: .3s;
}

#links {
    border-top: solid .8px;
    overflow: hidden;
}

i {
    float: left;
    clear: left;
    font-size: 6em;
    color: rgb(100, 99, 99);
    margin: .4em;
}

i:hover {
    cursor: pointer;
    color: black;
}

a:visited {
    color: inherit;
}

#about {
    font-size: 1.5em;
}


@media only screen and (min-width: 700px) {
    .hamburger {
        display: none;
    }
}
